body {
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
